extends layout

block content
  //debug test
  //- p #{pkg}
  .container
    
      if !pkg
        h3 No such package
      else 
        h2.bg-info #{pkg && pkg.PkgName}
        form(action='/booking/book' method='post')
          .card.col-sm-12
            img.card-img-top.mx-auto(src=pkg.ImgPath style=" max-width:400px;")
            .card-body
                h3.card-title= pkg && pkg.PkgDesc
                h5.card-text
                  | Price: $#{pkg && pkg.PkgBasePrice} CAD
                h6.card-text
                  | Trip Start: #{pkg && pkg.PkgStartDate}
                h6.card-text
                  | Trip End: #{pkg && pkg.PkgEndDate}
                p.card-text
                //should the action here redirect to a confirmation page and then the customer's page to see all their packages
          .row
            .col-sm-6
              h6.card-text
                | Number of travelers:
                label.form-label(for='TravelerCount')
                input#TravelerCount.mx-3(name='TravelerCount' type='number' min=1 value=1)
                input(type='hidden' name="packageId" value=pkg && pkg.PkgBasePrice)
                input(type='hidden' name="packageId" value=pkg && pkg && pkg.PkgStartDate)
                input(type='hidden' name="packageId" value=pkg && pkg.PkgEndDate)
            .col-sm-6
              button.btn.btn-success.col-12(type='submit') Book Now

                  //edit and delete buttons should be for customer's page? This is only strictly for adding packages to their page first
          //- p.card-text
          //-   a.btn.btn-primary.col-12(href='/packge/edit/'+ pkg._id) Edit
          //- p.card-text
          //-   a.btn.btn-danger.col-12(href='/package/delete/'+ pkg._id) Delete

