extends layout

block content
  h1= title
  p 
    form(method='POST' action='/contactus')
        .form-floating.m-3      
          input#fullname.form-control(type='text' placeholder='Please enter your full name' name='fullname' 
          value=postdata && postdata.fullname)
          label.form-label(for='fullname') Full Name
        .form-floating.m-3 
          input#email.form-control(type='text' placeholder='Please enter your email' name='email' 
          value=postdata && postdata.email)
          label.form-label(for='email') Email
        .form-floating.m-3
          input#phone.form-control(type='text' placeholder='Please enter your telephone' name='phone' 
          value=postdata && postdata.phone)
          label.form-label(for='phone') Phone
        .form-floating.m-3
          textarea#comments.form-control(placeholder='Leave a comment here' name='comments')= postdata && postdata.comments
          label(for='comments') Your Comments
        .col-12
            button.btn.btn-outline-primary(type='submit') Send
            // <button class="btn btn-outline-primary" type="submit">Register</button>
            button.btn.btn-outline-secondary(type='reset') Clear
            <a href="/" class="btn btn-outline-danger" role="button">Back to Top</a>

        //- .container
        //-   if errors    
        //-     each error in errors
        //-         p.alert.alert-danger= error