extends layout

block content
    h3 Packages
    .container
    each pack in listOfPackages 
      <ul class="list-group mt-4">
        <li class="list-group-item active fs-5" aria-current="true">#{pack.PkgName} </li>
        <li class="list-group-item">#{pack.PkgDesc}</li>
        <li class="list-group-item">#{pack.PkgStartDate}</li>
        <li class="list-group-item">#{pack.PkgEndDate}</li>
        <li class="list-group-item">#{pack.PkgBasePrice} CAD</li>
        <li class="list-group-item">#{pack.PkgAgencyCommission} CAD</li>
      </ul>
        if currentUser && currentUser.role == 'customer'
          a.btn.btn-outline-primary.col-12(href='/') Purchase 
        if currentUser && currentUser.role == 'agent'
          a.btn.btn-outline-primary(href='/') Purchase Package
          a.btn.btn-outline-warning(href='/') Create Package
        if !currentUser
          a.btn.btn-outline-info(href='register') Register
          a.btn.btn-outline-success(href='login') Log In

       
    section#packages.packages
        h1.heading
          span P
          span a
          span c
          span k
          span a
          span g
          span e
          span s
        .box-container
            each _package in listOfPackages 
                .box
                    img(src=_package.ImgPath alt='')
                    .content
                        h3
                            i.fas.fa-map-marker-alt &nbsp; #{_package.country}
                        p #{_package.description}
                        .stars
                            each _ in Array(_package.star)
                                i.fas.fa-star
                        .price
                            | $#{_package.price} &nbsp;
                            span $#{_package.priceBeforeDiscount}
                        a.btn(href='#') book now
