extends layout

block content
  h1= title
    p Packages #{title}
    //- ul 
    //-   each package in packages 
    //-     li 
    //-       h4= package.PkgName 
    //-       p= package.PkgDesc
    //-       p= package.PkgStartDate
    //-       p= package.PkgEndDate
    //-       p #{package.PkgBasePrice}
    //-       p #{package.PkgAgencyCommission}
          //- click on a button for more package detail pop up
          //- have a button to add package


  .container
    ul
    each pack in listOfPackages 
      li
        h4= pack.PkgName
        p= pack.PkgDesc
        p= pack.PkgStartDate
        p= pack.PkgEndDate
        p #{pack.PkgBasePrice} CAD
        p #{pack.PkgAgencyCommission} CAD
      a.btn.btn-primary.col-12(href='/') ADD
      //check out line 22 error & fix