extends layout

block content
  h1= title
    p Packages #{title}
  .container
    ul
    each pack in listOfPackages 
      li
        h4= pack.PkgName
        p= pack.PkgDesc
        p= pack.PkgStartDate
        p= pack.PkgEndDate
        p #{pack.PkgBasePrice} CAD
        p #{pack.PkgAgencyCommission} CAD
      a.btn.btn-primary.col-12(href='/') ADD
      //check out line 22 error & fix