extends layout

block content
  h1= title
    p Packages #{title}
  .container
    ul
    each pack in listOfPackages 
      li
        h4= pack.PkgName
        p= pack.PkgDesc
        p= pack.PkgStartDate
        p= pack.PkgEndDate
        p #{pack.PkgBasePrice} CAD
        p #{pack.PkgAgencyCommission} CAD

        if currentUser && currentUser.role == 'customer'
          a.btn.btn-primary.col-12(href='/') Purchase 
        if currentUser && currentUser.role == 'agent'
          a.btn.btn-primary(href='/') Purchase Package
          a.btn.btn-warning(href='/') Create Package
        if !currentUser
          h5 You need to register or login to purchase package
          a.btn.btn-primary(href='register') Register
          a.btn.btn-primary(href='login') Log In
          //check out line 22 error & fix